@import "~assets/css/variables.scss";
@mixin blog {
  margin-top: 25px;
  // border-radius: 4px;
  // box-shadow: 0 0 5px 2px rgba(48, 48, 48, 0.25);
  padding: 8px;
  @include font-source;
  user-select: text;
  ul,
  li {
    list-style: circle;
    list-style-type: disc;
  }
  pre {
    position: relative;
    z-index: 2;
    margin: 40px 20px;
    padding: 25px 0 0 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 20px 0px rgba(45, 45, 45, 0.2);
    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      height: 25px;
      border-radius: 4px 4px 0 0;
      background-color: rgb(255, 205, 72);
    }
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 15px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fc625d;
      box-shadow: 20px 0 0 0 #fdbc40, 40px 0 #35cd4b;
    }
  }
  table {
    word-break: break-all;
    border: 1px solid #000;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 0 12px 0px rgba(45, 45, 45, 0.2);
    overflow: hidden;
    border-collapse: collapse;
    thead {
      background-color: rgb(255, 205, 72);
      th {
        padding: 0.4em;
        border: #000 1px solid;
      }
    }
    tbody {
      tr {
        &:nth-child(2n) {
          background-color: #eee;
        }
        &:hover {
          background-color: #ddd;
        }
        td {
          padding: 0.4em;
          border: 1px solid #000;
        }
        cursor: cell;
      }
    }
  }
  img {
    margin: 1rem auto;
    box-shadow: 0 0 8px 1px rgba(25, 25, 25, 0.3);
  }
  blockquote {
    padding: 5px;
    background-color: #fff3e0;
    border-left: 5px solid #ffb74d;
  }
  p img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
  img[src*="#"] {
    display: inline-block;
    margin: 0 3px;
    box-shadow: none !important;
  }
  img[src*="#60"] {
    height: 60px !important;
  }
  img[src*="#80"] {
    height: 80px !important;
  }
  img[src*="#100"] {
    height: 100px !important;
  }
  img[src*="#120"] {
    height: 120px !important;
  }
  img[src*="#150"] {
    height: 150px !important;
  }
  img[src*="#180"] {
    height: 180px !important;
  }
  img[src*="#200"] {
    height: 200px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  blockquote {
    margin-left: 0px;
  }
  h1 {
    padding-bottom: 5px;
    border-bottom: 2px dashed #626262;
    &::before {
      content: "\e86e";
      font-family: "iconfont";
    }
  }
  h2 {
    margin: 18px 0;
    font-size: 26px;
    &::before {
      content: "\e69e";
      font-family: "iconfont";
    }
  }
  h3 {
    margin: 15px 0;
    font-size: 22px;
    &::before {
      content: "\e85b ";
      font-family: "iconfont";
    }
  }
  h4 {
    font-size: 18px;
  }
  h4,
  h5 {
    margin: 15px 0;
    &::before {
      content: "\e85b ";
      font-family: "iconfont";
    }
  }
  p,
  ul {
    margin: 20px 5px;
    line-height: 2em;
  }
  a {
    color: rgb(98, 43, 161);
    font-weight: 600;
    position: relative;
    z-index: 1;
  }
  a::after {
    content: "";
    display: block;
    position: absolute;
    height: 0px;
    width: 0;
    bottom: 0;
    left: 50%;

    border-bottom: 2px solid rgb(98, 43, 161);
    z-index: 1;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: -1;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  strong {
    background-image: linear-gradient(rgba(#000, 0) 60%, #ffee58 60%);
  }

  code {
    display: inline !important;
    font-family: "Fira Mono", "Fira Code", "Roboto" !important;
    background-color: #f6f6f6 !important;
    /* background-color: rgb(43, 43, 43) !important; */
    box-shadow: none !important;
    overflow-x: auto;
    padding: 0.2rem 0.5rem;
    margin: 0;
    // color: $color-theme;
    font-weight: normal !important;
    font-size: 0.95em;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    &::after,
    &::before {
      content: "" !important;
    }
  }

  pre code {
    width: 100%;
    white-space: pre !important;
    padding: 10px;
    margin: 0 0;
    line-height: unset;
    display: block !important;
    overflow-x: auto;
  }
  black {
    background-color: #000;
    color: #000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  black:hover {
    transition: all 0.3s ease-in-out;
    background-color: #000;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .math.math-display {
    overflow-x: scroll;
  }
  @media screen and(max-width: 860px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    table,
    ul,
    li,
    ol {
      font-family: "Merriweather Sans", Helvetica, Tahoma, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
      font-weight: 400;
    }
    img {
      margin: 10px auto !important;
    }
    pre {
      margin: 20px 20px;
    }
    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
    }
    h4,
    p,
    li,
    table,
    pre {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}
$monospace-font: Menlo, Monaco, Consolas, "Courier New", monospace;
$line-space: 22px;

$color-theme: #3eaf7c;
$color-theme-secondary: rgba(62, 175, 124, 0.8);
$color-theme-lighter: rgba(62, 175, 124, 0.6);
$color-theme-lightest: rgba(62, 175, 124, 0.2);

$color-blockquote: #42b983;

// @mixin blog2 {
//   word-break: break-word;
//   line-height: 1.75;
//   font-weight: 400;
//   font-size: 15px;
//   overflow-x: hidden;
//   color: #333;

//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     line-height: 1.5;
//     margin-top: 35px;
//     margin-bottom: 10px;
//     padding-bottom: 5px;
//     &:first-child {
//       margin-top: -1.5rem;
//       margin-bottom: 1rem;
//     }
//     &::before {
//       content: "#";
//       display: inline-block;
//       color: $color-theme;
//       padding-right: 0.23em;
//     }
//   }
//   h1 {
//     position: relative;
//     font-size: 2.5rem;
//     margin-bottom: 5px;
//     &::before {
//       font-size: 2.5rem;
//     }
//   }
//   h2 {
//     padding-bottom: 0.5rem;
//     font-size: 2.2rem;
//     border-bottom: 1px solid #ececec;
//   }
//   h3 {
//     font-size: 1.5rem;
//     padding-bottom: 0;
//   }
//   h4 {
//     font-size: 1.25rem;
//   }
//   h5 {
//     font-size: 1rem;
//   }
//   h6 {
//     margin-top: 5px;
//   }

//   p {
//     line-height: inherit;
//     margin-top: $line-space;
//     margin-bottom: $line-space;
//   }

//   strong {
//     color: $color-theme;
//   }

//   img {
//     max-width: 100%;
//     border-radius: 2px;
//     display: block;
//     margin: auto;
//     border: 3px solid $color-theme-lightest;
//   }

//   hr {
//     border-top: 1px solid $color-theme;
//     border-bottom: none;
//     border-left: none;
//     border-right: none;
//     margin-top: 32px;
//     margin-bottom: 32px;
//   }

//   code {
//     word-break: break-word;
//     overflow-x: auto;
//     padding: 0.2rem 0.5rem;
//     margin: 0;
//     color: $color-theme;
//     font-weight: 700;
//     font-size: 0.85em;
//     background-color: rgba(27, 31, 35, 0.05);
//     border-radius: 3px;
//   }

//   pre {
//     font-family: $monospace-font;
//     overflow: auto;
//     position: relative;
//     line-height: 1.75;
//     border-radius: 6px;
//     border: 2px solid $color-theme;
//     > code {
//       font-size: 12px;
//       padding: 15px 12px;
//       margin: 0;
//       word-break: normal;
//       display: block;
//       overflow-x: auto;
//       color: #333;
//       background: #f8f8f8;
//       &::after {
//         content: "" !important;
//       }
//     }
//   }

//   a {
//     font-weight: 500;
//     text-decoration: none;
//     color: $color-theme;
//     &:hover,
//     &:active {
//       // text-decoration: underline;
//       border-bottom: 1.5px solid $color-theme;
//     }
//     &:before {
//       content: "⇲";
//     }
//   }

//   table {
//     display: inline-block !important;
//     font-size: 12px;
//     width: auto;
//     max-width: 100%;
//     overflow: auto;
//     border: solid 1px $color-theme;
//   }
//   thead {
//     background: $color-theme;
//     color: #fff;
//     text-align: left;
//   }
//   tr:nth-child(2n) {
//     background-color: $color-theme-lightest;
//   }
//   th,
//   td {
//     padding: 12px 7px;
//     line-height: 24px;
//   }
//   td {
//     min-width: 120px;
//   }

//   blockquote {
//     color: #666;
//     padding: 1px 23px;
//     margin: 22px 0;
//     border-left: 0.5rem solid $color-theme-lighter;
//     border-color: $color-blockquote;
//     background-color: #f8f8f8;
//     &::after {
//       display: block;
//       content: "";
//     }
//     & > p {
//       margin: 10px 0;
//     }
//   }

//   details {
//     border: none;
//     outline: none;
//     border-left: 4px solid $color-theme;
//     padding-left: 10px;
//     margin-left: 4px;
//     summary {
//       cursor: pointer;
//       border: none;
//       outline: none;
//       background: white;
//       margin: 0px -17px;
//       &::-webkit-details-marker {
//         color: $color-theme;
//       }
//     }
//   }

//   ol,
//   ul {
//     padding-left: 28px;
//     li {
//       margin-bottom: 0;
//       list-style: inherit;

//       & .task-list-item {
//         list-style: none;
//         ul,
//         ol {
//           margin-top: 0;
//         }
//       }
//     }

//     ul,
//     ol {
//       margin-top: 3px;
//     }
//   }

//   ol li {
//     padding-left: 6px;
//     &::marker {
//       color: $color-theme;
//     }
//   }

//   ul li {
//     list-style: none;
//     &:before {
//       content: "•";
//       margin-right: 4px;
//       color: $color-theme;
//     }
//   }

//   @media (max-width: 720px) {
//     h1 {
//       font-size: 24px;
//     }
//     h2 {
//       font-size: 20px;
//     }
//     h3 {
//       font-size: 18px;
//     }
//   }
// }
