$base-lightgray-color:rgb(250,250,250);
$home-nav-height:64px;
$nav-color:rgba(#fff,0.99);
$devide-line-color:rgb(209, 209, 209);
$link-color:#000066;

$body-font-family: "source-han-serif-sc", serif;
$font-size-root:20px;

// #CCCCFF