$base-lightgray-color: rgb(250, 250, 250);
$home-nav-height: 64px;
$nav-color: rgba(#fff, 0.99);
$devide-line-color: rgb(209, 209, 209);
$link-color: #000066;
@mixin font-source {
  font-family: source-han-serif-sc, serif !important;
  font-style: normal;
  font-weight: 400;
}

// #CCCCFF
